body{
	font-family: Calibri;
	background-color: #E6E6EA;
	color: #2C4251;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
}
h1,h3{
	font-family: Calibri;
	margin:auto;
	text-align: center;
	color: #E6E6EA;
}
header,footer{
	background-color: #2C4251;
	border-radius: 10px;
	margin: 5px;
	line-height: 1.5;
}
footer{
	width: 98.5%;
	position: fixed;
	bottom: 0px;
}

